.text-center { text-align:  center; }
.text-left { text-align:  left; }
.text-right { text-align:  right; }

.margin-top-small { margin-top : 1rem; }
.margin-top-medium { margin-top : 2rem; }
.margin-top-large { margin-top : 4rem; }

.margin-bottom-small { margin-bottom : 1rem; }
.margin-bottom-medium { margin-bottom : 2rem; }
.margin-bottom-large { margin-bottom : 4rem; }

.margin-left-small { margin-left : 1rem; }
.margin-left-medium { margin-left : 2rem; }
.margin-left-large { margin-left : 4rem; }

.margin-right-small { margin-right : 1rem; }
.margin-right-medium { margin-right : 2rem; }
.margin-right-large { margin-right : 4rem; }

.margin-vertical-small { margin: 1rem 0rem; }
.margin-vertical-medium { margin: 2rem 0rem; }
.margin-vertical-large { margin: 4rem 0rem; }

.margin-horizontal-small { margin: 0rem 1rem; }
.margin-horizontal-medium { margin: 0rem 2rem; }
.margin-horizontal-large { margin: 0rem 4rem; }

.margin-small { margin: 1rem; }
.margin-medium { margin: 2rem; }
.margin-large { margin: 4rem; }

