//COLORS
$color-black-heading : rgba(0, 0, 0, .87);
$color-black-strong : #1a1a1a;
$color-black-mid : #333333;
$color-black-standar : #454545;
$color-black-soft : #737373;

$color-white-strong : #f8f8f8;
$color-white-standar : #fff;
$color-white-soft : #efefef;

$color-red-primary : #ef5350;
$color-orange-primary : #FA591D;
$color-blue-primary : #0288d1;

$color-success-primary : #4F8A10;
$color-success-secondary : #DFF2BF;
$color-error-primary : #D8000C;
$color-error-secondary : #FFD2D2;

$default-font-size : 1.6rem;

$grid-width : 114rem;
