.page-login {
    height: 100vh;

    & .section-login{
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        & .login {
            width: 40%;
            padding: 2rem;
            box-shadow: 0 1rem 2rem rgba(0,0,0, 0.1);
            border-radius: 10px;

            &__type {
                font-weight: 800;
                color: $color-orange-primary;
            }

            &__link {
                cursor: pointer;
                color: $color-orange-primary;
                font-weight: 700;
                text-decoration: none;
            }

            & .login__form {
                & .btn {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
