.banks {
    &__list{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        & #popup-update-banks .popup--form .popup--form__content .section {
                margin: 0;
                padding: 3rem 4rem;

                & #form-update-banks .btn__group #btn-cancel{
                    display: none;
                }
        }
    }

    &__item {
        list-style: none;
        width: 33%;
        @include box-shadow-1;
        margin: 1rem;
        padding: 2rem;
    }
    
}


