.cart-address-chooser {
    padding: 2rem;

    &__receiver-row {
        display: flex;
        align-items: center;
    }
    &__receiver-name {
        flex: 1;
    }
    &__receiver-phone {
        flex: 1;
    }

    &__addresses-row {
        max-height: 25rem;
        overflow-y: scroll;
    }

    &__addresses-button {
        display: block;
        width:100%;
        margin-bottom: 1rem;
    }

    &__button-save {
        display: flex;
        justify-content: flex-end;
    }

}