.cart-address-chooser-option{
    padding: 1rem;
    border-radius: 4px;
    border : 1px solid $color-black-soft;
    font-size: 1.4rem;
    margin : 1rem 0rem;

    &--selected {
        border : 1px solid $color-orange-primary;
    }

    &__street {

    }

    &__city{

    }
}