.customer-profile {
    display: flex;
    align-items: center;

    &__photo {
        width: 5rem;
        height: 5rem;
        & img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    &__data {
        padding: 0rem 1rem;
    }

    &__name {
        margin: 0;
    }

    &__city {

    }
}