.filter-status-order {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 2rem;
    
    &__item {
        background-color: $color-white-soft;
        padding: 1rem;
        border: 1px solid $color-white-standar;
        border-radius: 9px;
        margin-right: 1rem;
        &:hover {
            background-color: $color-white-soft;
            cursor: pointer;
        }

        &--selected {
            font-weight: 800;
            color : $color-success-primary;
            // border: 1px solid $color-black-soft;
        }
    }
}