.categories {
    position: relative;

    &__box {
        display: flex;
        cursor: pointer;
        padding: 1rem 1rem;
        border: 1px solid $color-black-standar;
        align-items: center;
        font-size: 1.2rem;
        border-radius: 0.6rem;
    }

    &__name {
        flex: 1;
    }

    &__icon {

    }
    &__group {
        position: absolute;
        display: flex;
        z-index: 1;
        background-color: $color-white-standar;
        border : 1px solid $color-white-soft;
        width: 100%;
    }

    &__options {
        flex: 1;
        padding: 0.5rem;
    }

    &__option {
        padding: 1rem;
        font-size: 1.2rem;
        &:not(:last-child){
            border-bottom: 1px solid $color-white-soft;
        }

        &:hover{
            background-color: $color-white-soft;
            cursor: pointer;
        }
        &--selected {
            background-color: $color-white-soft;
            border-left: 3px solid $color-black-strong;
        }
    }
}